table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    height: 50px;
  }

  .table{
    border-collapse: collapse;
    display: table;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #1b1e24;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}

form.form_contact{
  width: 100%;
  padding: 30px 40px;
}

form.form_contact h2{
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
}

form.form_contact .user_info{
  display: flex;
  flex-direction: column;
  width: 50%;
}

form.form_contact label{
  font-weight: 400;
}

form.form_contact input,
form.form_contact textarea{
  width: 100%;
  padding: 3px 0px 5px;
  margin-bottom: 20px;

  border: none;
  border-bottom: 2px solid #D1D1D1;

  font-family: 'Open sans';
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea{
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}

form.form_contact input[type="submit"]{  
  background: #4091EC;
  padding: 10px;
  border: none;
  border-radius: 25px;

  align-self: flex-end;

  color: #fff;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type="reset"]{
  background: #4091EC;
  padding: 10px;
  border: none;
  border-radius: 25px;

  align-self: flex-end;

  color: #fff;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact select{
  background: black;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}